<h1>Login</h1>
<form action="/login" method="Get">
  <div>
    <label for="username">Email</label>
    <input type="string" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <button type="submit">Login</button>
</form>
